root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
tab_width = 4
indent_size = 4
simplify = true
switch_case_indent = true
trim_trailing_whitespace = true
